@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,400;0,700;1,300;1,400;1,700&display=swap");

@font-face {
  font-family: 'aspire';
  src: url('~@/assets/fonts/aspire.eot?61230125');
  src: url('~@/assets/fonts/aspire.eot?61230125#iefix') format('embedded-opentype'),
       url('~@/assets/fonts/aspire.woff?61230125') format('woff'),
       url('~@/assets/fonts/aspire.ttf?61230125') format('truetype'),
       url('~@/assets/fonts/aspire.svg?61230125#aspire') format('svg');
  font-weight: normal;
  font-style: normal;
}


