.card-body {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

@include media-breakpoint-up("lg") {
  .card-body {
    position: relative;
    padding: convert-rem(0) convert-rem(40) convert-rem(40);
    border: 1px solid #fcfcfc;
    border-radius: convert-rem(8);
    box-shadow: 0 convert-rem(2) convert-rem(12) rgba(0, 0, 0, 0.08);
  }
}
