[class^="icon-aspire-"]:before,
[class*=" icon-aspire-"]:before {
  font-family: "aspire";
  font-style: normal;
  font-weight: normal;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aspire-card-detail:before {
  content: "\e800";
}
.icon-aspire-credit:before {
  content: "\e801";
}
.icon-aspire-destroy:before {
  content: "\e802";
}
.icon-aspire-eye:before {
  content: "\e803";
}
.icon-aspire-file-storage:before {
  content: "\e804";
}
.icon-aspire-flight:before {
  content: "\e805";
}
.icon-aspire-freeze:before {
  content: "\e806";
}
.icon-aspire-gpay:before {
  content: "\e807";
}
.icon-aspire-home:before {
  content: "\e808";
}
.icon-aspire-megaphone:before {
  content: "\e809";
}
.icon-aspire-pagyment:before {
  content: "\e80a";
}
.icon-aspire-place:before {
  content: "\e80b";
}
.icon-aspire-set-spend-limit:before {
  content: "\e80c";
}
.icon-aspire-transaction:before {
  content: "\e80d";
}
.icon-aspire-account:before {
  content: "\e80e";
}
.icon-aspire-add:before {
  content: "\e80f";
}
.icon-aspire-card:before {
  content: "\e810";
}

.icon-aspire-business-finance:before {
  content: "\e811";
}
