$black: #222;
$white: #fff;

// Blue
$blue: #325baf;
$blue-100: #f5f9ff;
$blue-200: #edf3ff;
$blue-500: #23cefd;
$blue-600: #325baf;
$blue-900: #0c365a;

$blue-a-100: #d8e1f3;

// Green
$green: #41b883;

$green-100: #ddffec;
$green-200: #edfff5;
$green-600: #01d167;

// Pink
$pink: #f25195;
$pink-100: #feedf4;

// Gray
$gray: #aaa;
$gray-100: #f0f0f0;
$gray-200: #e5e5e5;
$gray-300: #f5f5f5;
$gray-400: #ddd;

// Red
$red: #e12f2f;

// Alert
$color-error: $red;
