$icon-actions: (
  "freeze": "icon_freeze.svg",
  "set-spent-limit": "icon_set_spent_limit.svg",
  "gpay": "icon_gpay.svg",
  "replace": "icon_replace.svg",
  "cancel": "icon_cancel.svg",
);

.card-action {
  background-color: $blue-200;
  border-top-left-radius: convert-rem(18);
  border-top-right-radius: convert-rem(18);
  padding: convert-rem(20) 0 convert-rem(18);

  &__ls {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0 convert-rem(14);
  }

  &__icon {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: convert-rem(32);
    height: convert-rem(32);
    background-color: $blue;
    margin: 0 auto;
    border-radius: 50%;
    margin-bottom: convert-rem(7);
    font-size: convert-rem(28);
    color: $white;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: convert-rem(32) convert-rem(32);

    @each $key-icon, $icon-url in $icon-actions {
      &--#{$key-icon} {
        background-image: url(#{$base-url}#{$icon-url});
      }
    }
  }

  &__txt {
    display: block;
  }

  &__link {
    color: $blue-900;
    display: block;
    width: convert-rem(60);
    text-align: center;
  }

  &__item {
    font-size: convert-rem(13);
  }
}

@include media-breakpoint-up("lg") {
  .card-action {
  }
}
